.select{
    width: 300px;
    height: 48px;
    display: block;
    margin: 80px auto 0;
    padding: 0 14px 0 22px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 14px;
    
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background: url('../../assets/arrow.svg') no-repeat right 12px center;
    background-size: 16px;
    
    background-color: #D9D9D9;
}

.select:focus {
    outline: none;
}