@import url('../../../util/fonts.css');

.choose{
    width: 280px;
    height: 48px;
    line-height: 48px;

    margin: 50px auto;
    padding-left: 20px;
    background-color: #D9D9D9;

    border: 1px solid;
    border-radius: 10px;

    font-family: 'Interop';
    font-weight: 400;
}