.myAfter{
    width: 300px;
    height: 48px;
    line-height: 48px;
    margin: 40px auto 0;
    padding-left: 14px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 14px;
    background-color: #D9D9D9;
}